pipeline/pipeline/pl_ingest_sql_to_bronze.json
{
	"name": "pl_ingest_sql_to_bronze",
	"properties": {
		"description": "Metadata-driven ingestion from Azure SQL to bronze. One parameterised pipeline reads etl.ingest_control and copies each enabled table, using a watermark where configured. The watermark only advances after a Get Metadata check confirms files exist at the sink path, so a successful-but-misdirected copy cannot silently skip data.",
		"activities": [
			{
				"name": "GetTableList",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT source_table, watermark_col, last_watermark FROM etl.ingest_control WHERE is_enabled = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_control",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetTableList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetTableList').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "IsFullLoad",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@empty(item().watermark_col)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "GetNewWatermark",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "0.00:10:00",
											"retry": 2,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "SELECT MAX(@{item().watermark_col}) AS new_wm FROM dbo.@{item().source_table}",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "ds_sql_generic",
												"type": "DatasetReference",
												"parameters": {
													"tablename": {
														"value": "@item().source_table",
														"type": "Expression"
													}
												}
											},
											"firstRowOnly": true
										}
									},
									{
										"name": "CopyIncremental",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "GetNewWatermark",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.02:00:00",
											"retry": 2,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "SELECT * FROM dbo.@{item().source_table} WHERE @{item().watermark_col} > '@{item().last_watermark}' AND @{item().watermark_col} <= '@{activity('GetNewWatermark').output.firstRow.new_wm}'",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_sql_generic",
												"type": "DatasetReference",
												"parameters": {
													"tablename": {
														"value": "@item().source_table",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_adls_parquet",
												"type": "DatasetReference",
												"parameters": {
													"folderPath": {
														"value": "@concat('sqldb/', item().source_table, '/load_date=', formatDateTime(utcnow(), 'yyyy-MM-dd'))",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "VerifySinkIncremental",
										"type": "GetMetadata",
										"dependsOn": [
											{
												"activity": "CopyIncremental",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.00:10:00",
											"retry": 2,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "ds_adls_parquet",
												"type": "DatasetReference",
												"parameters": {
													"folderPath": {
														"value": "@concat('sqldb/', item().source_table, '/load_date=', formatDateTime(utcnow(), 'yyyy-MM-dd'))",
														"type": "Expression"
													}
												}
											},
											"fieldList": [
												"exists",
												"childItems"
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "ParquetReadSettings"
											}
										}
									},
									{
										"name": "SinkVerified",
										"description": "The watermark is a commitment that data through time T is durably landed. It must only advance once the sink path is confirmed to contain files - Copy activity success alone is not evidence, because a misconfigured sink path succeeds while writing somewhere downstream never reads.",
										"type": "IfCondition",
										"dependsOn": [
											{
												"activity": "VerifySinkIncremental",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"expression": {
												"value": "@and(activity('VerifySinkIncremental').output.exists, greater(length(activity('VerifySinkIncremental').output.childItems), 0))",
												"type": "Expression"
											},
											"ifFalseActivities": [
												{
													"name": "FailWatermarkNotAdvanced",
													"type": "Fail",
													"dependsOn": [],
													"userProperties": [],
													"typeProperties": {
														"message": {
															"value": "@concat('Incremental load for ', item().source_table, ' wrote no files to the expected sink path. Watermark deliberately NOT advanced so the next run reprocesses this window.')",
															"type": "Expression"
														},
														"errorCode": "SINK_EMPTY_WATERMARK_HELD"
													}
												}
											],
											"ifTrueActivities": [
												{
													"name": "UpdateWatermark",
													"type": "Script",
													"dependsOn": [],
													"policy": {
														"timeout": "0.00:10:00",
														"retry": 2,
														"retryIntervalInSeconds": 30,
														"secureOutput": false,
														"secureInput": false
													},
													"userProperties": [],
													"linkedServiceName": {
														"referenceName": "ls_azuresql",
														"type": "LinkedServiceReference"
													},
													"typeProperties": {
														"scripts": [
															{
																"type": "NonQuery",
																"text": {
																	"value": "UPDATE etl.ingest_control SET last_watermark = '@{activity('GetNewWatermark').output.firstRow.new_wm}' WHERE source_table = '@{item().source_table}'",
																	"type": "Expression"
																}
															}
														],
														"scriptBlockExecutionTimeout": "02:00:00"
													}
												}
											]
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "CopyFullTable",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.02:00:00",
											"retry": 2,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "SELECT * FROM dbo.@{item().source_table}",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_sql_generic",
												"type": "DatasetReference",
												"parameters": {
													"tablename": {
														"value": "@item().source_table",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_adls_parquet",
												"type": "DatasetReference",
												"parameters": {
													"folderPath": {
														"value": "@concat('sqldb/', item().source_table, '/load_date=', formatDateTime(utcnow(), 'yyyy-MM-dd'))",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "VerifySinkFull",
										"type": "GetMetadata",
										"dependsOn": [
											{
												"activity": "CopyFullTable",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.00:10:00",
											"retry": 2,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "ds_adls_parquet",
												"type": "DatasetReference",
												"parameters": {
													"folderPath": {
														"value": "@concat('sqldb/', item().source_table, '/load_date=', formatDateTime(utcnow(), 'yyyy-MM-dd'))",
														"type": "Expression"
													}
												}
											},
											"fieldList": [
												"exists",
												"childItems"
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "ParquetReadSettings"
											}
										}
									},
									{
										"name": "SinkHasDataFull",
										"type": "IfCondition",
										"dependsOn": [
											{
												"activity": "VerifySinkFull",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"expression": {
												"value": "@and(activity('VerifySinkFull').output.exists, greater(length(activity('VerifySinkFull').output.childItems), 0))",
												"type": "Expression"
											},
											"ifFalseActivities": [
												{
													"name": "FailEmptySinkFull",
													"type": "Fail",
													"dependsOn": [],
													"userProperties": [],
													"typeProperties": {
														"message": {
															"value": "@concat('Full load for ', item().source_table, ' produced no files at the expected sink path. Data was not landed where downstream expects it.')",
															"type": "Expression"
														},
														"errorCode": "SINK_EMPTY"
													}
												}
											]
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": null
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}